@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');
body{
    background-color: hsl(226, 88%, 83%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family: "Red Hat Display";
}

section{
    background-color: white;
    margin: auto;
    margin-top: 3%;
    width: 450px;
    height: 680px;
    border-radius: 20px;    
}    

section>img{
    width: 450px;
    border-radius: 20px 20px 0px 0px;    

}

.title{
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    font-weight: 900;
    font-size: 30px;
    color: hsl(223, 47%, 23%);
}

.description{
    padding-top: 1.5rem ;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(225, 40%, 98%);
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 15px;
}
.prop{
    display: flex;
    align-items: center;
}
.prop>img{
    padding-right: 15px;
}
.article{
}
.name{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-bottom: 5px;
}
.price{
    color: hsl(224, 23%, 55%);
}
.change{
    color: hsl(245, 75%, 52%);
    font-weight: 600;
    text-decoration: underline;
}

.payement{
    display: flex;
    justify-content: center;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 10px;
    box-shadow: 0px 10px 25px 0px hsl(245, 43%, 76%);
    ;
}

.cancel{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    color: hsl(224, 23%, 55%);
    font-weight: 600;
}